.btn{
  background-color: #B22222;
  color: #FFD700;
  font-weight: bold;
}
h2{
  color: maroon;
  text-align: center;
  padding: 30px;
}
h3{
  color: maroon;
  text-align: center;
}
form{
  padding: 15px;
  margin: 0px;
}
table{
  margin: auto;
}
a{
  color:black;
}
a:hover{
  color:grey;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #B22222;
  color: black;
  text-align: center;
  font-weight: bold;
}
