<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css\style.css">
  <title>Member List</title>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B22222">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="MemberList.html">Member List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="CertificationList.html">Certification List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AddMember.html">Add Member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AddCertification.html">Add Certification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AssignCertification.html">Assign Certification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="certificationDetails.html">Certification Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="memberCertifications.html">Member Certifications</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="CertificationList.html">Certifications</a>
            <a class="dropdown-item" href="MemberList.html">Member Summary</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <body>
      <div id="personListApp">
        <!--List of Members (Change to an auto center command)-->
        <div class="mx-auto" style="width:200px;">
          <h3>Member List</h3>
        </div>

        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Person GUID</th>
              <th>Position</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Mobile Phone</th>
              <th>Station Number</th>
              <th>Radio Number</th>
              <th>Start Date</th>
              <th>Member Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="p in person" @click="handleRowClick(p)">
              <td>{{p.personId}}</td>
              <td>{{p.position}}</td>
              <td>{{p.firstName}}</td>
              <td>{{p.lastName}}</td>
              <td>{{p.mobilePhone}}</td>
              <td>{{p.stationNumber}}</td>
              <td>{{p.radioNumber}}</td>
              <td>{{p.startDate}}</td>
              <td v-if="p.isActive==1">Active</td>
              <td v-if="p.isActive==0">Inactive</td>
            </tr>
          </tbody>
        </table>

        <div class="container-fluid">
          <form @submit.prevent="handleEdit" style="margin:0px; padding:15px">
            <div class="row">
              <div class="form-group col-3">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="First" placeholder="First Name" v-model="selectedPerson.firstName">
              </div>
              <div class="form-group col-3">
                <label for="lastName"> Last Name</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="Last" placeholder="Last Name" v-model="selectedPerson.lastName">
              </div>
              <div class="form-group col-3">
                <label for="dob">DOB</label>
                <input type="date" class="form-control" id="dob" aria-describedby="Dob" placeholder="2001-12-13" v-model="selectedPerson.dob">
              </div>
              <div class="form-group col-2">
                <label for="gender">Gender</label>
                <input type="text" class="form-control" id="gender" aria-describedby="Sab" placeholder="M|F" v-model="selectedPerson.gender">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-3">
                <label for="mobilePhone">Mobile Number</label>
                <input type="tel" class="form-control" id="mobilePhone" aria-describedby="MobilePhone" placeholder="Mobile Number" v-model="selectedPerson.mobilePhone">
              </div>
              <div class="form-group col-3">
                <label for="workPhone">Work Number</label>
                <input type="tel" class="form-control" id="workPhone" aria-describedby="WorkPhone" placeholder="Work Number" v-model="selectedPerson.workPhone">
              </div>
              <div class="form-group col-3">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" aria-describedby="Email" placeholder="Email Address" v-model="selectedPerson.email">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-3">
                <label for="street">Street Address</label>
                <input type="text" class="form-control" id="street" aria-describedby="Street" placeholder="Street Address" v-model="selectedPerson.street">
              </div>
              <div class="form-group col-3">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" aria-describedby="City" placeholder="City" v-model="selectedPerson.city">
              </div>
              <div class="form-group col-2">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" aria-describedby="State" placeholder="State" v-model="selectedPerson.state">
              </div>
              <div class="form-group col-2">
                <label for="zip">Zip Code</label>
                <input type="text" class="form-control" id="zip" aria-describedby="Zip" placeholder="Zip" v-model="selectedPerson.zip">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-2">
                <label for="stationNumber">Station Number</label>
                <input type="text" class="form-control" id="stationNumber" aria-describedby="StationNo" placeholder="Station Number" v-model="selectedPerson.stationNumber">
              </div>
              <!--<div class="form-group col-xl-6 col-md-6 col-sm-12 col-xs-12">
              <label for="stationName">Station Name</label>
              <input type="text" class="form-control" id="stationName" aria-describedby="StationName" placeholder="Station Name" v-model="selectedPerson.stationName">
            </div> -->
            <div class = "form-group col-2">
              <label for="region">Region</label>
              <input type="text" class="form-control" id="region" aria-describedby="Region" placeholder="Region" v-model="selectedPerson.region">
            </div>
            <div class = "form-group col-2">
              <label for="radioNumber">Radio Number</label>
              <input type="text" class="form-control" id="radioNo" aria-describedby="RadioNumber" placeholder="Radio Number" v-model="selectedPerson.radioNumber">
            </div>
            <div class="form-group col-2">
              <label for="position">Position</label>
              <input type="text" class="form-control" id="position" aria-describedby="Position" placeholder="Position" v-model="selectedPerson.position">
            </div>
            <div class="form-group col-3">
              <label for="startDate">Start Date</label>
              <input type="date" class="form-control" id="startDate" aria-describedby="StartDate" placeholder="2019-01-01" v-model="selectedPerson.startDate">
            </div>
          </div>

          <div class="row">
            <div>
              <label style="margin:5px"><input type="checkbox" class="checkbox" style="margin-right:5px" true-value=1 false-value=0 id="isActive" v-model="selectedPerson.isActive">Active?</label>
            </div>
            <div>
              <label style="margin:5px"><input type="checkbox" class="checkbox" style="margin-right:5px" true-value="1" false-value="0" id="isEmployee" v-model="selectedPerson.isEmployee">Employee?</label>
            </div>
          </div>

          <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <div>
              <input type="submit" class="btn center" value="Edit Member">
              <input type="submit" class="btn center" v-on:click="handleDelete" value="Delete Member">
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/list.app.js"></script>
    <footer class="col-xl-12 col-lg-12 col-md-12 col-sm-8 col-xs-8" >
      <div> OCFR: <a id="af" href="https://wiseoldsayings.com/firefighter-quotes/">Website</a> | Oconee County, Georgia 30605 |+1(707)456-3451 </div>
    </footer>
  </main>
</body>
</html>
