<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css\style.css">
  <title>Members - Station & Radio</title>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B22222">
    <a class="navbar-brand" href="#">OCFR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="MemberList.html">Member List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="CertificationList.html">Certification List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AddMember.html">Add Member</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AddCertification.html">Add Certification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AssignCertification.html">Assign Certification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="certificationDetails.html">Certification Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="memberCertifications.html">Member Certifications</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="CertificationList.html">Certifications</a>
            <a class="dropdown-item" href="MemberList.html">Member Summary</a>
            <a class="dropdown-item" href="expiredReport.html">Members- Expired Certifications</a>
            <a class="dropdown-item" href="stationReport.html">Members - Station & Radio Number</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <body>
      <div class="mx-auto">
        <h3>Report: Members by Station & Radio Number</h3>
      </div>
      <div id="personListApp">
        <div class="filter">
          <label>Choose the Station Number:</label>
          <select v-model="filter.stationNumber">
            <option value="">(all)</option>
            <option v-for="s in stations" v-bind:value="s.stationNumber">
              {{s.stationNumber}}
            </option>
          </select>
        </div>
        <div class="filter">
          <label>Choose the Radio Number:</label>
          <select v-model="filter.radioNumber">
            <option value="">(all)</option>
            <option v-for="r in radios" v-bind:value="r.radioNumber">
              {{r.radioNumber}}
            </option>
          </select>
        </div>
        <div>
          <button onclick="exportTableToCSV('members.csv')">Export Results to CSV</button>
        </div>
        <center>
        <div class="row">
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-xs-8">
          <br>
          <table align="center" class="table table-sm table-bordered ">
            <caption>
              Members for Radio {{filter.radioNumber}} and Station {{filter.stationNumber}}
            </caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Member</th>
                <th scope="col">Position</th>
                <th scope="col">Gender</th>
                <th scope="col">Station number</th>
                <th scope="col">Radio number</th>
                <th scope="col">City</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Start Date</th>
                <th scope="col">Member Status</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="p in person"
              v-if="(filter.stationNumber=='' || p.stationNumber==filter.stationNumber) &&
              (filter.radioNumber=='' || p.radioNumber==filter.radioNumber)">
              <td>{{p.firstName}} {{p.lastName}}</td>
              <td>{{p.position}}</td>
              <td>{{p.gender}}</td>
              <td>{{p.stationNumber}}</td>
              <td>{{p.radioNumber}}</td>
              <td>{{p.city}}</td>
              <td>{{p.mobilePhone}}</td>
              <td>{{p.email}}</td>
              <td>{{p.startDate}}</td>
              <td v-if="p.isActive==1">Active</td>
              <td v-if="p.isActive==0">Inactive</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </center>
    </div>
    <div class="code">
      Source code (Export to CSV) from: <a href="https://www.codexworld.com/export-html-table-data-to-csv-using-javascript/">CodexWorld</a>
    </div>
  <footer class="col-xl-12 col-lg-12 col-md-12 col-sm-8 col-xs-8" >
    <div> OCFR: <a id="af" href="https://wiseoldsayings.com/firefighter-quotes/">Website</a> | Oconee County, Georgia 30605 |+1(707)456-3451 </div>
  </footer>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/list.app.js"></script>
<script src="js/reportsCSV.app.js"></script>
</body>
</html>
